/* Universal Styles and Fonts

font-family: 'Fruktur', cursive;
font-family: 'Bungee Shade', cursive;
font-family: 'Ewert', cursive;
font-family: 'Monoton', cursive;
font-family: 'Creepster', cursive;
font-family: 'Rubik', sans-serif;

*/

html {

}

body {

}

/* Header */

header {

}

.navbar-expand-md .navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav {
  align-items: center;
}

/* Supporting Sections */

#banner {
  background-color: green;
}

/* Footer */

footer {

}
